{
  "presets": [
    "@babel/typescript",
    [
      "@babel/env",
      {
        "exclude": ["transform-async-to-generator", "transform-regenerator"],
        "modules": false,
        "loose": true
      }
    ]
  ]
}
